.logo-wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
}
.logo {
	height: 40px;
	padding-right: 7px;
}
.normal-header {
	 white-space: nowrap;
}

.logo-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-name {
	font-size: 1.4em; 
	letter-spacing: 1.1px;
	transform: translateX(-2px);
}
.logo-profession {
	 font-size: 0.7em;
	 letter-spacing: 3.6px;
}
@media screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
}
