.parcel-geom-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: rgba(23, 23, 32, 1);
	border: 1px solid rgba(126, 126, 132, 1);
	border-radius: 5px;
}
.parcel-geom {
	height: 65px;
}
.parcel-address {
	font-size: 0.8em;
}