.predictor-left {
	display: grid;
	background-color: rgba(23, 23, 32, 1);
	color: rgba(255, 255, 255, 1);
	padding: 5px;
  overflow: hidden;
}
.predictor-wrapper {
  display: grid;
  grid-template-rows: min-content 60px auto;
  height: calc(100vh - 70px);
  background-color: rgba(32, 32, 43, 1);
  border-radius: 20px;
}
.predictor-price-wrapper {
  display: grid; 
  padding-bottom: 20px; 
  padding-right: 20px; 
  padding-left: 20px;
}
.predictor-price {
  background-color: rgba(23, 23, 32, 1);
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 1.4em;
  border-radius: 5px;
  border: 2px solid rgba(126, 126, 132, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}