.predictor-main {
	display: grid;
	grid-template-columns: 5fr 19fr;
	grid-template-areas: "pl pm";
	grid-gap: 5px;
	background-color: rgba(23, 23, 32, 1);
	overflow: hidden;
}
.predictor-map {
	grid-area: pm;
}
.predictor-left {
	grid-area: pl;
}
@media screen and (max-width: 600px) {
	.predictor-main {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
			"pm"
			"pl";
	}
	.predictor-left {
		overflow-y: scroll;
	}
}