.page3-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	min-height: 100%;
	align-content: center;
}
.page3 {
	display: grid;
	grid-gap: 20px;
	overflow: hidden;
}
@media screen and (max-width: 1280px) {
	.page3-wrapper {
		grid-template-columns: 1fr 4fr 1fr;
	}
}
@media screen and (max-width: 1000px) {
	.page3-wrapper {
		grid-template-columns: 20px auto 20px;
	}
}
@media screen and (max-width: 600px) {
	.page3 {
		grid-gap: 10px;
		padding-top: 10px;
	}
}