.calculator-option-selection {
	background-color: rgba(23, 23, 32, 1);
	border-radius: 5px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	border: 2px solid rgba(126, 126, 132, 1);
	color: rgba(255, 255, 255, 1);
}