.resume-list {
    padding-bottom: 30px;
    display: grid;
    line-height: 1.2;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    grid-gap: 5px;
}
.resume-job-header {
    padding-bottom: 10px;
    font-weight: 500;
    a {
        letter-spacing: 0.2px;
    }
}