.parcel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-favorites-wrapper {
	display: grid;
	grid-template-columns: min-content min-content;
	align-items: center;
	grid-gap: 10px;
	padding-right: 20px;
}
.add-symbol {
	cursor: pointer;
	width: 10px;
}