.pdf-wrapper {
	position: absolute;
	top: 60px;
	width: 100%;
	height: calc(calc(var(--vh, 1vh) * 100) - 60px);
	max-height: calc(calc(var(--vh, 1vh) * 100) - 60px);
	background-color: rgba(126, 126, 132, 0.2);
	z-index: 4;
	display: flex;
	justify-content: space-around;
	color: rgba(255, 255, 255, 0.8);
}
.pdf-page1-wrapper {
	background-color: rgba(255, 255, 255, 1);
	width: 35%;
	padding: 20px;
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	grid-gap: 10px;
}
.pdf-title {
	font-size: 1.4em;
	background-color: rgba(32, 32, 43, 1);
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}
.parcel-list-title {
  border: 1px solid rgba(126, 126, 132, 1);
  background-color: rgba(23, 23, 32, 1);
  font-weight: 500;
  padding: 20px;
}
.parcel-list {
	display: grid;
	align-content: start;
	grid-gap: 5px;
	padding-top: 5px;
	overflow: hidden;
}
.download-button-wrapper {
	display: grid;
	justify-content: end;
}
.download-button {
	background-color: rgba(32, 32, 43, 1);
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: min-content;
	white-space: nowrap;
	font-weight: 600;
	cursor: pointer;
}